/* CSS Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Merriweather Sans', sans-serif;
    font-weight: 300;
}

/* a-Link reset */
a {
    color: inherit;
    cursor: default;
    text-decoration: none;
}

/* Grandezza di tutte le immagini massimo quanto
 il loro rispettivo contenitore sulla base della larghezza*/
img.on-width {
    width: 100%;
}

/* Grandezza di tutte le immagini massimo quanto
 il loro rispettivo contenitore sulla base dell'altezza'*/
img.on-height {
    height: 100%;
}

/* UTILITIES */


/* Flexbox utilities */

.flex {
    display: flex;
}

.column {
    flex-direction: column;
}

.row {
    flex-direction: row;
}

.column-reverse {
    flex-direction: column-reverse;
}

.row-reverse {
    flex-direction: row-reverse;
}

.space-between {
    justify-content: space-between;
}

.space-around {
    justify-content: space-around;
}

.space-evenly {
    justify-content: space-evenly;
}

.grow {
    flex-grow: 1;
}

.shrink {
    flex-shrink: 0;
}

.wrap {
    flex-wrap: wrap;
}

.no-wrap {
    flex-wrap: nowrap;
}

/* /Flexbox */


/* Position tags utilities */

.relative {
    position: relative;
}

.absolute {
    position: absolute;
}

.fixed {
    position: fixed;
}

/* /Position tags */


/* Clearfix per uso del float, da applicare al container */
.clearfix::after {
    clear: both;
    content: "";
    display: table;
}

/* Float left */
.float-left {
    float: left;
}

/* Float right */
.float-right {
    float: right;
}


/* CONTENT UTILITIES */
.button-container:not(.user-links>.button-container) {
    margin: 20px 0;
}

button {
    background-color: #0061ff;
    color: white;
    border: none;

    padding: 10px 20px;
    font-size: 1.2rem;
}

ul {
    list-style-type: none;
}

/* CONTENT */


/* Barra di navigazione fixed */
nav {
    width: 100%;
    background-color: white;

    padding: 20px 20px 20px 5px;

    align-items: center;

    z-index: 10;
}

.site-links,
.user-links {
    width: 30%;
    align-items: center;
}

/* Sezione jumbo-tron */
.big-container {
    background-color: #b4d0e7;
}

.container {
    margin: 0 auto;
    max-width: 1200px;
}

.jumbo-tron h1 {
    font-size: 84px;
    padding-top: 150px;

}

.jumbo-tron .caption {
    width: 30%;
    padding-top: 70px;
}

.jumbo-tron .caption i {
    font-size: 4rem;

    padding-top: 120px;
}

.jumbo-tron .img-container {
    width: 70%;
}

.jumbo-tron img {
    position: relative;
    top: 70px;
}



/* Contenuto principale */

.content.container {
    padding-top: 100px;
    max-width: 1000px;
}

/* Sezione abbonamenti */

.subscription-choice h2 {
    padding: 50px 0;
    font-size: 2.5rem;
}

.select-payment {
    padding-bottom: 30px;
}

.select-payment label:first-of-type {
    padding-right: 50px;
}

.sub-card-container>.card {
    margin-top: 20px;
    width: calc(100% / 3 - 30px);

    border: 2px solid #d0d0d3;
}

.sub-card-container>.card>p {
    text-align: center;
    padding: 10px 0;
}

.card-content {
    border-top: 2px solid #d0d0d3;
    padding: 30px 20px;

}

.card-content>p:nth-child(3) {
    color: #b4d0e7;
}

.card-content *:not(button, hr, .sub-basic-info) {
    padding-top: 10px;
    padding-bottom: 10px;
}

.sub-basic-info {
    padding: 20px 0;
}

.card:first-of-type .sub-basic-info {
    padding: 30px 0;
}

.card-content button,
.business-trial button {
    width: 100%;
}

.sub-basic-info>* {
    padding-left: 20px;
}

.users-number,
.cloud-space,
.sharing-functions {
    position: relative;
}

.users-number::before,
.cloud-space::before,
.sharing-functions::before {
    font-family: FontAwesome;
    padding-right: 5px;

    position: absolute;
    left: -5px;
}

.users-number::before {
    content: '\f007';

}

.cloud-space::before {
    content: '\f07b';
}

.sharing-functions::before {
    content: '\f1e0';
}

.card-content>p>a,
.business-teams-panel a {
    color: blue;
    cursor: pointer;
    text-decoration: underline;
}

.card-content hr,
.text-card hr {
    width: 20%;
    margin: 30px 0;

    border: 1px solid #d0d0d3;
}

.sub-hot-content li {
    position: relative;
    padding-left: 20px;
}

.sub-hot-content li::before {
    content: "\f00c";
    font-family: FontAwesome;
    color: blue;
    display: inline-block;
    width: 1.3em;

    position: absolute;
    left: -5px;
}

.special-card-content {
    flex-basis: 65%;
}

/* Sezioni partner */

.find-partner {
    margin: 100px 0;
}

.find-partner>.caption {
    padding: 50px;

    flex-basis: 70%;
}

.find-partner>.caption>* {
    padding-bottom: 20px;
}

.find-partner button {
    background-color: transparent;
    color: black;
    border: 1px solid black;
}

/* Sezione info Dropbox Business */

.business-cards>.card {
    margin-top: 20px;
    width: calc(100% / 3 - 20px);
}

.business-cards>.card>* {
    padding: 10px 0;
}

/* Sezione informativa su Dropbox Business */
.business-teams-panel {
    margin: 70px 0;

    width: 40%;
}

.business-teams-panel * {
    padding: 30px 0;
}

/* Sezione team Dropbox Business */

.team-cards-container>.card {
    width: calc(100% / 6);
}

.four-cards {
    width: 30vw;
}

.four-cards>.card {
    display: flex;
    height: 15vw;
    width: 15vw;

    justify-content: center;
    align-items: center;
}

.four-cards .card>* {
    justify-content: center;
    align-items: center;

    transform: scale(0.5);
}

.four-cards img {
    filter: invert();
}

.text-card {
    background-color: white;
    width: calc(100% - 60vw);

    padding: 0 50px;
    padding-top: 10px;
}

.text-card>.img-container {
    width: 40%;
}

.text-card>*:not(hr) {
    padding: 30px 0;
}

.team-cards-container>.four-cards:first-child>.card:first-child {
    background-color: #a2d39b;
}

.team-cards-container>.four-cards:first-child>.card:nth-child(2) {
    background-color: #61082b;
}

.team-cards-container>.four-cards:first-child>.card:nth-child(3) {
    background-color: #0093ce;
}

.team-cards-container>.four-cards:first-child>.card:nth-child(4) {
    background-color: #ff1c1c;
}

.team-cards-container>.four-cards:last-child>.card:first-child {
    background-color: #d5001f;
}

.team-cards-container>.four-cards:last-child>.card:nth-child(2) {
    background-color: #b4d0e7;
}

.team-cards-container>.four-cards:last-child>.card:nth-child(3) {
    background-color: #0d2481;
}

.team-cards-container>.four-cards:last-child>.card:nth-child(4) {
    background-color: #ffd830;
}

/* Seconda parte fuori container i team Dropbox Business */
.big-container:nth-child(4)>.container {
    padding: 100px 0;
}

.business-trial>p {
    flex-basis: 40%;

    color: #61082b;
    font-size: 36px;
    font-weight: bold;

    flex-basis: 50%;
}

.business-trial .button-container {
    flex-basis: 30%;
}

.business-trial button {
    background-color: white;
    color: black;
}


/* FAQ */

.faq {
    padding-bottom: 100px;
}

.faq *:not(ul) {
    border-bottom: 2px solid grey;
}

.faq>h2 {
    padding: 50px 0;
}

.faq li {
    padding: 40px 0;
}

.faq li::after {
    content: '\f107';
    font-family: FontAwesome;
    display: inline-block;
    justify-self: right;

    padding-left: 35%;
}


/* Footer */

footer {
    background-color: black;

    color: white;
}

/* Sezione categorie del footer */

.container>.category {
    margin-bottom: 70px;
}

footer h4 {
    padding-top: 50px;
    padding-bottom: 20px;
}

footer li {
    padding: 10px 0;
}

/* Sezione lingua del footer */

.language {
    padding: 30px 0;

    width: 10%;
    border-top: 3px solid grey;
}

.language i {
    padding-right: 15px;
}

.language>p:after {
    content: ' \25B2';
    font-size: 8px;
    vertical-align: middle;
}

/* ---------------------------------------------------------------- */
/* Contenuto estetico extra */

nav a:hover:not(.img-container>a) {
    border-bottom: 2px solid black;
    padding-bottom: 30px;
}

button:hover {
    opacity: 0.75;
}

.four-cards .card:hover {
    outline: 10px solid #ffffff80;
    outline-offset: -10px;
}

.faq li:nth-child(even) {
    /* background-color: black; */

    display: none;
    border: none;
}

.faq li:nth-child(even)::after {
    /* background-color: black; */

    content: none;
}

.faq li:nth-child(odd):hover::after {
    /* background-color: black; */

    content: '\f106';
}

.faq li:hover {
    border-bottom: none;
}

.faq li:nth-child(odd):hover+li:nth-child(even) {
    display: list-item;
    border-bottom: 2px solid grey;

}



/* ---------------------------------------------------------------- */
/* DEBUGGER */

.debug nav {
    background-color: blue;
    /* height: 100px; */
}

.debug .container {
    background-color: aqua;
}

.debug .jumbo-tron {
    background-color: yellowgreen;
    /* height: 350px; */
}

.debug .content.container {
    background-color: red;
}

.debug .subscription-choice {
    background-color: purple;
}

.debug .sub-card-container {
    background-color: darkgoldenrod;
}

.debug .sub-card-container>.card {
    background-color: chocolate;
    /* height: 500px; */
}

.debug .sub-card-container>.card:last-of-type {
    background-color: darkseagreen;
    /* height: 250px; */
}

.debug .find-partner {
    background-color: darkgreen;
    /* height: 400px; */
}

.debug .business-info-panel {
    background-color: hotpink;
}

.debug .business-cards>.card {
    background-color: indigo;
    /* height: 200px; */
}

.debug .team-cards-container {
    background-color: lime;
}

.debug .team-cards-container>.card {
    background-color: saddlebrown;
    /* height: 200px; */
}

.debug .four-cards>.card {
    background-color: forestgreen;
    /* border: 5px solid black; */
    /* height: 50%; */
    /* width: 50%; */
}

.debug .text-card {
    background-color: pink;
}

.debug .faq {
    background-color: darkviolet;
}

.debug footer {
    height: 500px;
}